<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBs25tv6a1EcJmbwhoe8l2I8iQ8tlH0HO8</string>
	<key>GCM_SENDER_ID</key>
	<string>991610487268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamrobudget</string>
	<key>PROJECT_ID</key>
	<string>budgetbuddy-6a24f</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetbuddy-6a24f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991610487268:ios:248fc28e1352a1a70307f1</string>
</dict>
</plist>